#visit-profile {
    width: 100%
}

.col-3 {
    padding: 20px;
}

mat-form-field {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .col-3 {
        min-width: 50%;
    }

    form {
        width: 100%;
        input {
            width: 63%
        }
        button {
            margin-left: 5%;
        }
    }

}